@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply w-full
  }

  .section {
    @apply container mx-auto py-24 px-6 
  }
  .animate-slide:hover {
    animation-play-state: paused;
  }
}

/* Sign-Up Page Styles */
.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-group {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 8px;
  box-sizing: border-box;
}
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}